<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
            AsteroDesign 2022</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                href="http://asterodesign.ml/" target="_blank">AsteroDesign</a> pour Miage-Gi.com</span>
    </div>
</footer>
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../assets/vendors/global/global.min.js"></script>
<script src="../assets/vendors/js/vendor.bundle.base.js"></script>

<!-- endinject -->

<!-- Plugin js for this page -->
<script src="../assets/vendors/chart.js/Chart.min.js"></script>

<script src="../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="../assets/vendors/flot/jquery.flot.js"></script>

<script src="../assets/vendors/flot/jquery.flot.resize.js"></script>

<script src="../assets/vendors/flot/jquery.flot.categories.js"></script>

<script src="../assets/vendors/flot/jquery.flot.fillbetween.js"></script>

<script src="../assets/vendors/flot/jquery.flot.stack.js"></script>

<script src="../assets/vendors/flot/jquery.flot.pie.js"></script>

<script src="../../assets/vendors/jqvmap/js/jquery.vmap.min.js"></script>

<script src="../../assets/vendors/jqvmap/js/jquery.vmap.world.js"></script>
<script src="../../assets/js/jqvmap-init.js"></script>
<script src="../../assets/js/chart.js"></script>
<!-- End plugin js for this page -->
<!-- Datatble js -->
<script src="../assets/vendors/datatables/js/jquery.dataTables.min.js"></script>
<script src="../assets/vendors/datatables/js/datatables.init.js"></script>
<!-- inject:js -->
<script src="../../assets/js/off-canvas.js"></script>
<script src="../../assets/js/hoverable-collapse.js"></script>
<script src="../../assets/js/misc.js"></script>
<!-- endinject -->

<!-- wizard form -->
<script src="../assets/vendors/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<script src="../assets/vendors/jquery-smartwizard/dist/js/jquery.smartWizard.js"></script>
<script>
    $(document).ready(function(){
        // SmartWizard initialize
        $('#smartwizard').smartWizard(); 
    });
</script>

<!-- Custom js for this page -->
<script src="../../assets/js/dashboard.js"></script>
<!-- End custom js for this page -->
